html,
body {
    background-color: #F3FAF9;
}

.pure-u-1 {
    width: 100vw;
}

.pure-u-1-2 {
    width: 45vw;
    height: 340px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.pure-u-1-3 {
    margin-top: 30px;
    width: 30vw;
    margin-left: 10px;
    margin-right: 10px;
}

#text_div {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    color: #527298;
    font-size: 40px;
}

p {
    color: #527298;
    font-size: 16px;
    text-align: justify;
}

#scat {
    width: 98%;
    height: 40vh;
    text-align: right;
    margin-left: 10px;
}

#map {
    width: 100%;
    height: 300px;
}

#area {
    width: 100%;
    height: 300px;
}